// Colours

$color-primary			: 		#00FF89; 

$color-black			:  		#262C30;
$color-white			:  		#ffffff;
$color-darkGrey			:  		#575757;
$color-mediumGrey		:  		#969696;
$color-lightGrey		:  		#DCDCDC;
$color-blueGrey			: 		#F0F4F6;
$color-darkBlueGrey 	:  		#688a9e;

$color-jio				:  		#5ad3c0;
$color-ph				:  		#21b685;
$color-ret				:  		#F36621;
$color-medo				:  		#1aa9c7;

// Fonts

$font-primary			: 		'Source Sans Pro', sans-serif;
$font-secondary			: 		'Source Serif Pro', serif;