.work-header {
	padding: 5% 0;
	// background: $color-black;

	&.home, &.work {
		margin-top: 90px;
	}

	.container {

		.work-header-heading {
			@include span-columns(10);
			@include shift(1);

			@include media($tablet) {
				@include span-columns(12);
				@include shift(0);
			}

			#productDesignLink {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					border-bottom: 2px solid $color-black;
					left: 0;
					bottom: 15%;
					width: 100%;
				}
			}
		}
	}
}